html
    head
        title= title
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //bootstrap
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')    
        //Font Awesome
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')   
        //NProgress
        link(rel='stylesheet', href='/stylesheets/nprogress.css')  
        //Animate.css
        link(rel='stylesheet', href='/stylesheets/animate.min.css')
        //Custom Theme Style
        link(rel='stylesheet', href='/stylesheets/custom.min.css')
        body.nav-md
            div.container-body
              div.main_container
                                //page content  
                div.col-md-12
                    div.col-middle
                        div.text-center
                            h1.error-number 500
                            h2 Internal Server Error
                            p We track theses errors automatically, but if the problem persists feel free to contact us. In the meantime, try refresing.
                                a(href="#") Report this?
                            div(class="mid_center")
                                h3 Search
                                form
                                    div(class="col-xs-12 form-group pull-right top_search")
                                        div(class="input-group")
                                            input(type="text", class="form-control", placeholder="Search for...")
                                            span(class="input-group-btn")
                                                button(class="btn btn-default", type="button") Go!

        
             //jquery
          script(src="../vendors/jquery/dist/jquery.min.js")
         //boostrap
        script(src="../vendors/bootstrap/dist/js/bootstrap.min.js")
        //fastclick
        script(src=".../vendors/fastclick/lib/fastclick.js")
        //NProgress 
        script(src="../vendors/nprogress/nprogress.js")

        script(src="../build/js/custom.min.js")



