doctype html
html 
    head
        title= title
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8', charset="utff-8")
        meta(http-equiv='X-UA-Compatible', content='IE=edge')      
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //bootstrap
        link(href='/stylesheets/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/font-awesome.min.css', rel='stylesheet')
        link(href='/stylesheets/animate.min.css', rel='stylesheet')
        // Custom styling plus plugins
        link(href='/stylesheets/custom.css', rel='stylesheet')
        link(href='/stylesheets/green.css', rel='stylesheet')
        // editor
        link(href='http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css', rel='stylesheet')
        link(href='/stylesheets/prettify.css', rel='stylesheet')
        link(href='/stylesheets/index.css', rel='stylesheet')
        // select2
        link(href='/stylesheets/select2.min.css', rel='stylesheet')
        // switchery
        link(rel='stylesheet', href='/stylesheets/switchery.min.css')
        script(src='/stylesheets/jquery.min.js')


.right_col(role='main')
  div
    .col-md-12.col-sm-12.col-xs-12
      .x_panel
        .x_title
          h2
            | Text areas
            small Sessions
          ul.nav.navbar-right.panel_toolbox
            li
              a.collapse-link
                i.fa.fa-chevron-up
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                i.fa.fa-wrench
              ul.dropdown-menu(role='menu')
                li
                  a(href='#') Settings 1
                li
                  a(href='#') Settings 2
            li
              a.close-link
                i.fa.fa-close
          .clearfix
        .x_content
          #alerts
          .btn-toolbar.editor(data-role='editor-toolbar', data-target='#editor')
            .btn-group
              a.btn.dropdown-toggle(data-toggle='dropdown', title='Font')
                i.fa.icon-font
                b.caret
              ul.dropdown-menu
            .btn-group
              a.btn.dropdown-toggle(data-toggle='dropdown', title='Font Size')
                i.icon-text-height
                b.caret
              ul.dropdown-menu
                li
                  a(data-edit='fontSize 5')
                    p(style='font-size:17px') Huge
                li
                  a(data-edit='fontSize 3')
                    p(style='font-size:14px') Normal
                li
                  a(data-edit='fontSize 1')
                    p(style='font-size:11px') Small
            .btn-group
              a.btn(data-edit='bold', title='Bold (Ctrl/Cmd+B)')
                i.icon-bold
              a.btn(data-edit='italic', title='Italic (Ctrl/Cmd+I)')
                i.icon-italic
              a.btn(data-edit='strikethrough', title='Strikethrough')
                i.icon-strikethrough
              a.btn(data-edit='underline', title='Underline (Ctrl/Cmd+U)')
                i.icon-underline
            .btn-group
              a.btn(data-edit='insertunorderedlist', title='Bullet list')
                i.icon-list-ul
              a.btn(data-edit='insertorderedlist', title='Number list')
                i.icon-list-ol
              a.btn(data-edit='outdent', title='Reduce indent (Shift+Tab)')
                i.icon-indent-left
              a.btn(data-edit='indent', title='Indent (Tab)')
                i.icon-indent-right
            .btn-group
              a.btn(data-edit='justifyleft', title='Align Left (Ctrl/Cmd+L)')
                i.icon-align-left
              a.btn(data-edit='justifycenter', title='Center (Ctrl/Cmd+E)')
                i.icon-align-center
              a.btn(data-edit='justifyright', title='Align Right (Ctrl/Cmd+R)')
                i.icon-align-right
              a.btn(data-edit='justifyfull', title='Justify (Ctrl/Cmd+J)')
                i.icon-align-justify
            .btn-group
              a.btn.dropdown-toggle(data-toggle='dropdown', title='Hyperlink')
                i.icon-link
              .dropdown-menu.input-append
                input.span2(placeholder='URL', type='text', data-edit='createLink')
                button.btn(type='button') Add
              a.btn(data-edit='unlink', title='Remove Hyperlink')
                i.icon-cut
            .btn-group
              a#pictureBtn.btn(title='Insert picture (or just drag & drop)')
                i.icon-picture
              input(type='file', data-role='magic-overlay', data-target='#pictureBtn', data-edit='insertImage')
            .btn-group
              a.btn(data-edit='undo', title='Undo (Ctrl/Cmd+Z)')
                i.icon-undo
              a.btn(data-edit='redo', title='Redo (Ctrl/Cmd+Y)')
                i.icon-repeat
          #editor
          textarea#descr(name='descr', style='display:none;')
          br
          .form-group
            .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
              button.btn.btn-success(type='submit') Postar
          .ln_solid

   


